<!DOCTYPE html>
<html>
  <head>
    <title>RateMyRide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <p>
      <%= link_to "Sign Up", users_new_path %>
    </p>
    <!-- <a href="/users/new">Sign Up</a> -->
    <%= yield %>
  </body>
</html>
